<header class="d-flex justify-content-center py-3 bg-white border-bottom">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a
        class="nav-link"
        aria-current="page"
        routerLink="/products"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="./about"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >RxJs</a
      >
    </li>
    <li class="">
      <button type="button" class="btn btn-primary position-relative">
        Profile
        <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
          <span class="visually-hidden">New alerts</span>
         {{ productService.cartItemCount.getValue()}}
        </span>
      </button>
    </li>
  </ul>
</header>
