<div class="container py-2">
  <div class="my-4">
    <button class="btn btn-warning" (click)="displayAddForm = !displayAddForm">
      + Add new product
    </button>
    @if(displayAddForm) {
    <app-pop-up title="New Product" (close)="displayAddForm = false">
      <app-product-add />
    </app-pop-up>
    }
    <button class="btn btn-primary" (click)="add()">Add to Cart</button>
  </div>
  <div class="d-flex justify-content-around">
    <div class="row row-cols-1 row-cols-md-4 g-4">
      @for (singleProduct of products; track singleProduct.id) {
      <app-card
        [product]="singleProduct"
        (productSum)="deleteProduct($event)"
      />
      } @empty {
      <p>No items</p>
      }
    </div>
  </div>
</div>
