<form [formGroup]="productForm" (submit)="onSubmit()">
  <div class="m-auto">
    <div class="mb-3">
      <label class="form-label">Title</label>
      <input type="text" class="form-control" placeholder="Product Title"formControlName="title">
    </div>
    <div class="mb-3">
      <label class="form-label">Description</label>
      <input type="text" class="form-control" placeholder="Product Description" formControlName="description" >
      @if(productForm.controls.description.invalid && (productForm.controls.description.touched)) {
        @if(productForm.controls.description.errors; as controlErr) {
          @if(controlErr['minlength']) {
            <div class="invalid-block">
              You have written minimum {{controlErr['minlength'].actualLength}} / {{ controlErr['minlength'].requiredLength}} words 
            </div>
           
          }
          @if(controlErr['prohibitedWord']) {
            <p class="text-danger">Prohibited Word</p>
          } 
        }

      }

    </div>
    <div class="mb-3">
      <label class="form-label">Price</label>
      <input type="number" class="form-control" formControlName="price">
    </div>
    <div>
      <span>Dimensions</span>
      <div class="input-group mb-3" formGroupName="dimensions">
        <input type="number" class="form-control" formControlName="width" class="form-control" placeholder="Width" aria-label="Width">
        <input type="number" class="form-control" formControlName="height" placeholder="Height" aria-label="Height">
      </div>
    </div>
    @if(productForm.controls.tags) {
    <div formArrayName="tags">
        @for (tag of productForm.controls.tags.controls; track $index) {
          <span class="chip primary">{{tag.value}}</span>
        }
    </div>
    }
    <div class="row g-2">
      <input
        type="text"
        class="form-control me-2 col"
        [(ngModel)]="tagName"
        [ngModelOptions]="{ standalone: true }"
      />
      <button type="button" class="btn btn-info col-auto" (click)="addTags()">+ Add Tags</button>
    </div>

    <div class="input-group mb-3">
      <!-- <select [(ngModel)]="newProductInput.category">
          <option value="" selected disabled>--Choose Category</option>
          <option value="smartphones">SmartPhones</option>
          <option value="fragrances">Perfume</option>
        </select> -->
      <span class="me-2">Agree on terms and conditions</span>
      <input
        placeholder="Product Title"
        type="checkbox"
        formControlName="agreeOnTerms"
      />
    </div>
    <button
      class="btn btn-warning me-2"
      type="button"
      (click)="productForm.reset()"
    >
      Clear Form
    </button>
    <button
      class="btn btn-success"
      type="submit"
     
    >
      Submit
    </button>
  </div>
</form>
