
.form-control {
    &.ng-pristine.ng-invalid.ng-touched,
    &.ng-dirty.ng-invalid.ng-touched {
        border-color: red;
    }

}
.ng-submitted {
    .invalid-block {
      color: red;
      font-size: 10px;
    }
}