<div class="card shadow-sm">
  <div class="rm">
    <button class="btn btn-danger" (click)="productSum.emit(product.id)">
      <i class="bi bi-trash"></i>
    </button>
  </div>
  <img [src]="product.thumbnail" class="card-img-top" [alt]="product.model" />
  <div class="card-body">
    <div class="clearfix mb-3">
      <span
        class="float-start badge rounded-pill"
        [category]="product.category"
      ></span>
      <br />
      <h5 class="card-title">{{ product.title }}</h5>
      <span class="float-end price-hp">{{ product.price }}&euro;</span>
    </div>
    <span class="float-start">{{ product.rating }}</span>
    <span class="">{{ product.description | truncate : 10 }}</span>
    <div class="text-center my-4" [appLowstock]="product.stock < 20">
      <button class="btn btn-warning" (click)="redirect()">Check offer</button>
      <!-- <a class="btn btn-warning" [routerLink]="['./', product.id, ]" -->
        <!-- >Check offer</a -->
      <!-- > -->
    </div>
  </div>
</div>
